html,
body,
#main {
  height: 100%;
  -webkit-font-smoothing: auto;
  overflow: hidden;

  text-size-adjust: 100%;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu,
  //   Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB,
  //   Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif,
  //   Apple Color Emoji, Segoe UI Emoji;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    Noto Sans SC, Source Han Sans SC, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

:root {
  --z-index-navbar: 1000;
}